body{
  font-family: Helvetica;
  text-align: center;
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.highlights{
  background-image: url('../media/the-flatiron-building.png')
}
.highlights a{
  font-size: 18px;
  color: white;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
.highlights{
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.footer{
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
